ul.last-problems .last-problems a,
ul.users-list .users-list a,
ul.settings .settings a{ 
	color: #fff !important;
	background-color:#000 !important;
}

.problem-desc{
	max-height: 45px;
	display: -webkit-box;
	margin: 0 auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.problem-progress{
	font-size: 80%;
	color: #888;
}

.textToRight{
	font-weight: bold;
	text-align: right;
}

.task-buttons button:even{
	padding: 0 2%;
}

.problem-tasks:first-child{
	margin-top: 10px;
}

.problem-tasks .task{
	margin: 7px 0;
}

.problem-tasks .task div:first-child{
	margin-left: 2px;
}

.problem-tasks .task div:last-child{
	margin-left: -5px;
}

.btn-preview{
	margin-left: 3px;
}

.table-striped button{
	margin: 0 2px;
}

.task-content{
	margin-top: 10px;
}

.preloader {
    padding: 50px;
    background: url('../img/preloader.gif') no-repeat 50% 50% transparent;
}

div < .ng-valid.ng-dirty{
	border-color: #3c763d;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.ng-invalid.ng-dirty{
  	border-color: #a94442;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
div:has(input){
	background-color: red;
}

