ul.last-problems .last-problems a,
ul.problem .last-problems a,
ul.users-list .users-list a,
ul.last-tasks .last-tasks a,
ul.computers .computers a,
ul.laboratories .laboratories a,
ul.laboratory .laboratories a,
ul.settings .settings a{ 
	color: #fff !important;
	background-color:#000 !important;
}

.problem-desc{
	max-height: 45px;
	display: -webkit-box;
	margin: 0 auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.problem-progress{
	font-size: 80%;
	color: #888;
}

.textToRight{
	font-weight: bold;
	text-align: right;
}

.task-buttons button:even{
	padding: 0 2%;
}

.problem-tasks:first-child{
	margin-top: 10px;
}

.problem-tasks .task, .prevLink{
	margin: 7px 0;
}

.problem-tasks .task div:first-child{
	margin-left: 2px;
}

.problem-tasks .task div:last-child{
	margin-left: -5px;
}

.btn-preview{
	margin-left: 3px;
}

.table-striped button{
	margin: 0 2px;
}

.task-content, .margin-top{
	margin-top: 10px;
}

.input-group-addon{
	min-width: 40px;
}

.infoMessage{
	padding: 10px;
	text-align: center;
}

.alert{
	white-space: pre-line;
}

.tooltip-inner{
	white-space: pre-wrap;
}

.task{
	margin-bottom: 5px;
}

.counter{
	margin-top: -20px;
	margin-left: -10px;
	padding: 10px 0;
}

.clickable{
	cursor: pointer;
}

.padding-5{
	padding: 5px;
}

.panel-task{
	margin-bottom: 5px;
	border-bottom: 1px solid #d8d8d8;
}

.panel-body, .panel-header{
	padding: 5px;
}

.modal{
	overflow-y: auto;
}

.preloader {
    padding: 50px;
    background: url('../img/preloader.gif') no-repeat 50% 50% transparent;
}

.ng-scope .row{
	margin: 0 2px;
}

.pagination{
	margin: 0;
}

h2{
	padding: 40px 0px;
    margin-left: -10px;
    font-weight: bold;
}

div < .ng-valid.ng-dirty{
	border-color: #3c763d;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.ng-invalid.ng-dirty{
  	border-color: #a94442;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
div:has(input){
	background-color: red;
}

