<div >
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">eLaborant - panel administracyjny</a>
            </div>

            <ul class="nav navbar-right top-nav" ng-controller="CurrentUserController">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Ustawienia</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>
           
            <div ng-controller="nav" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="{{active || 'last-problems'}} nav navbar-nav side-nav">
                    <li ng-show="showProblems" class="last-problems" ng-click="active='last-problems'">
                        <a ui-sref="Problemy"><i class="fa fa-fw fa-exclamation-triangle"></i> Problemy</a>                        
                    </li>
                    <li ng-show="showTasks" class="last-tasks" ng-click="active='last-tasks'">
                        <a ui-sref="Zadania"><i class="fa fa-tasks"></i> Zadania</a>
                    </li>
                    <li ng-show="showUsers" class="users-list" ng-click="active='users-list'">
                        <a ui-sref="Uzytkownicy"><i class="fa fa-fw fa-address-book"></i> Lista użytkowników</a>
                    </li>
                    <li ng-show="showLaboratories" class="laboratories" ng-click="active='laboratories'">
                        <a ui-sref="Laboratoria"><i class="fa fa-fw fa-building-o"></i> Laboratoria</a>
                    </li>
                    <li ng-show="showComputers" class="computers" ng-click="active='computers'">
                        <a ui-sref="Komputery"><i class="fa fa-fw fa-laptop"></i> Komputery</a>
                    </li>
                    <!--
                    <li class="settings" ng-click="active='settings'">
                        <a ui-sref="settings"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="span12">
                        <div ui-view></div> 
                    </div> 
                </div> 
            </div>

        </div>

    </div>

  
</div>
