<!DOCTYPE html>
<html lang="pl" ng-app="elaborant">
<head>
    <base href="/eLaborant/index.html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eLaborant - panel administracyjny</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/panel-group.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css?v=2" rel="stylesheet" type="text/css">

      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/validator.js"></script>
    <script src="js/angular-bootstrap-multiselect.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


   <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">eLaborant - panel administracyjny</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Arkadiusz Duliban <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Ustawienia</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div ng-controller="nav" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="{{active || 'last-problems'}} nav navbar-nav side-nav">
                    <li class="last-problems" ng-click="active='last-problems'">
                        <a ui-sref="last-problems"><i class="fa fa-fw fa-exclamation-triangle"></i> Problemy</a>                        
                    </li>
                    <li class="last-tasks" ng-click="active='last-tasks'">
                        <a ui-sref="last-tasks"><i class="fa fa-tasks"></i> Zadania</a>
                    </li>
                    <li class="users-list" ng-click="active='users-list'">
                        <a ui-sref="users-list"><i class="fa fa-fw fa-address-book"></i> Lista użytkowników</a>
                    </li>
                    <li class="laboratories" ng-click="active='laboratories'">
                        <a ui-sref="laboratories"><i class="fa fa-fw fa-building-o"></i> Laboratoria</a>
                    </li>
                    <li class="computers" ng-click="active='computers'">
                        <a ui-sref="computers"><i class="fa fa-fw fa-laptop"></i> Komputery</a>
                    </li>
                    <!--
                    <li class="settings" ng-click="active='settings'">
                        <a ui-sref="settings"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="span12">
                        <div ui-view></div> 
                    </div> 
                </div> 
            </div>

        </div>

    </div>

    <script>


    var elaborantApp = angular.module('elaborant', ['ngTable', "ui.router", "angularMoment", "btorfs.multiselect", "ui.bootstrap"]);
    var apiUrl = "http://157.158.16.186:8081/api/";
    var errorMessage = '<div class="alert alert-warning"><strong>Wystąpił błąd!</strong> Dane nie mogły zostać załadowane.<br><a href="#" ng-click="loadData()">Spróbuj ponownie</a></div>';
    var responseErrorMessage = '<div class="alert alert-danger"><strong>Wystąpił błąd!</strong> Dane nie mogły zostać załadowane.<br><a href="#" ng-click="loadData()">Spróbuj ponownie</a></div>';
    var dataError = "Wystąpił błąd podczas pobierana danych."
    function parseErrorInfo(message) { 
        return '<div class="alert alert-danger"><strong>Wystąpił błąd</strong><br>'+message+'</div>';
    }  

    elaborantApp.config(function($stateProvider, $urlRouterProvider, $locationProvider) {
        $urlRouterProvider.otherwise("/index");

        $stateProvider
        .state('index', {
            url: "/index",
            templateUrl: "home.html"
        })
        .state('users-list', {
            url: "/users",
            templateUrl: "users-list.html"
        })
        .state('last-problems', {
            url: "/last-problems/",
            templateUrl: "last-problems.html"
        })
        .state('last-tasks', {
            url: "/last-tasks",
            templateUrl: "last-tasks.html"
        })
        .state('problem', {
            url: "/problem/:id?",
            templateUrl: "problem.html"
        })
        .state('laboratories', {
            url: "/laboratories",
            templateUrl: "laboratories.html"
        })
        .state('laboratory', {
            url: "/laboratory/:id?",
            templateUrl: "laboratory.html"
        })
        .state('computers', {
            url: "/computers",
            templateUrl: "list-computers.html"
        })
        .state('settings', {
            url: "/settings",
            templateUrl: "settings.html"
        })
        .state('settings.account', {
            url: "/account",
            templateUrl: "settings.account.html",
            controller: function($scope) {
                $scope.account = "i'm the account view"
            }
        })
        .state('settings.profile', {
            url: "/profile",
            templateUrl: "settings.profile.html",
            controller: function($scope) {
                $scope.profile = "i'm the profile view"
            }
        })
        .state('home', {
            url: "/home",
            templateUrl: "home.html"
        });

        $locationProvider.html5Mode(true);
    });
    </script>
    <script src="js/controllers.js"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();  
        $('body').on('click', function(){
            $('.tooltip').tooltip('hide');
        });
    </script>
</body>
</html>
