<!DOCTYPE html>
<html lang="pl" ng-app="elaborant">
<head>
    <base href="/eLaborant/index.html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eLaborant - panel administracyjny</title>

    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/panel-group.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.min.css?v=2" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script> <!-- amMoment-->
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/angular-bootstrap-multiselect.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    
</head>


<body>
    <div ui-view></div>
</body>

<script>

    var elaborantApp = angular.module('elaborant', ["ui.router", "angularMoment", "btorfs.multiselect", "ui.bootstrap"]);
    var apiUrl = "http://157.158.16.186:8081/api/";
    var errorMessage = '<div class="alert alert-warning"><strong>Wystąpił błąd!</strong> Dane nie mogły zostać załadowane.<br><a href="#" ng-click="loadData()">Spróbuj ponownie</a></div>';
    var responseErrorMessage = '<div class="alert alert-danger"><strong>Wystąpił błąd!</strong> Dane nie mogły zostać załadowane.<br><a href="#" ng-click="loadData()">Spróbuj ponownie</a></div>';
    var dataError = "Wystąpił błąd podczas pobierana danych."
    function parseErrorInfo(message) {
        return '<div class="alert alert-danger"><strong>Wystąpił błąd</strong><br>' + message + '</div>';
    }

    elaborantApp.config(function ($stateProvider, $urlRouterProvider, $locationProvider) {
        $urlRouterProvider.otherwise("/");
        $stateProvider.state('login', {
            url: '/',
            templateUrl: 'login.html'
        })
          .state('home', {
              url: '/home',
              templateUrl: 'home.html'
          }).state('users-list', {
              url: "/users",
              parent: "home",

              templateUrl: "list-users.html"
          })
                .state('last-problems', {
                    url: "/last-problems/",
                    parent: "home",
                    templateUrl: "list-problems.html"
                })
                .state('last-tasks', {
                    url: "/last-tasks",
                    parent: "home",
                    templateUrl: "list-tasks.html"
                })
                .state('problem', {
                    url: "/problem/:id?",
                    parent: "home",
                    templateUrl: "problem.html"
                })
                .state('laboratories', {
                    url: "/laboratories",
                    parent: "home",
                    templateUrl: "list-laboratories.html"
                })
                .state('laboratory', {
                    url: "/laboratory/:id?",
                    parent: "home",
                    templateUrl: "laboratory.html"
                })
                .state('computers', {
                    url: "/computers",
                    parent: "home",
                    templateUrl: "list-computers.html"
                })
                .state('computer', {
                    url: "/computer/:id?",
                    parent: "home",
                    templateUrl: "computer.html"
                })
        $locationProvider.html5Mode(true);
    });

    elaborantApp.controller('LoginController', function ($scope, $rootScope, $stateParams, $state, $location, LoginService) {

        $scope.formSubmit = function () {
            LoginService.login($scope.username, $scope.password, function (response) {
                if (response.success) {
                    $scope.error = '';
                    $scope.username = '';
                    $scope.password = '';
                    LoginService.setToken();
                    $location.path('/home');
                } else {
                    $scope.error = "Incorrect username/password !";
                }
            });

        }

    });


    elaborantApp.factory('LoginService', function ($http, $rootScope) {

        return {

            login: function (username, password, callback) {
                sessionStorage.removeItem("token");
                $http({
                    method: 'POST',
                    url: apiUrl + "login",
                    data: { username: username, password: password }
                }).success(function (data, status, headers, config) {
                    sessionStorage.setItem('token', headers("Authorization"));
                    //alert(headers("Authorization"));
                    callback({ success: true });

                }).error(function () {
                    callback({ success: false });
                });


            },
            setToken: function () {
                $http.defaults.headers.common['Authorization'] = sessionStorage.getItem('token');
            }

        };

    });

</script>
<script src="js/controllers.js"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    $('body').on('click', function () {
        $('.tooltip').tooltip('hide');
    });
</script>
</body>
</html>
