<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<div ng-controller="problem">
    <div class="prevLink">
        <a ui-sref="last-problems">Powrót do listy problemów</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Problem #{{problemid}}
                <!--<button class="btn btn-warning btn-xs pull-right" title="Edytuj problem">Edytuj</button>-->
            </h3>
        </div>
        <div ng-hide="problemDataLoaded" class="preloader">
        </div>
        <div class="panel-body">
            <div class="row" ng-repeat="x in problemData">
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 textToRight">Lokalizacja: </div>
                        <div class="col-xs-12 col-sm-6">{{x.computer.name}} {{x.laboratory.building}}{{x.laboratory.roomNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 textToRight">Zgłaszający: </div>
                        <div class="col-xs-12 col-sm-6">{{x.author.firstname}} {{x.author.surname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 textToRight">Data zgłoszenia: </div>
                        <div class="col-xs-12 col-sm-6 ba"><time class="badge" title="{{ x.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">{{x.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm '}}</time></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 textToRight">Opis problemu: </div>
                        <div class="col-xs-12 col-sm-6">{{x.content}}</div>
                    </div>
                    <div class="row">
                        <div class="margin-top">
                            <div class="col-xs-12 col-sm-6 textToRight">Liczba zadań: </div>
                            <div class="col-xs-12 col-sm-6 ba">{{tasksCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="task-list" class="panel panel-default">
        <div class="panel-heading"><h4>Zadania<button class="btn btn-success btn-sm pull-right" title="Nowe zadanie" data-toggle="modal" data-target="#addTask"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowe zadanie</button></h4></div>

        <div class="task">
            <div class="panel-body panel-task" ng-repeat="task in taskData">
                <div class="row">
                    <div class="col-xs-1 cols-sm-1 col-md-1">
                        <span class="label {{task.priority | labelPriority}}" title="Priorytet zadania: {{task.priority}}">{{task.priority}}</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                        <div title="Zadanie dodano: {{task.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{task.dateNotification | amDateFormat: 'D MMMM YYYY H:mm '}}
                        </div>
                        <div title="Termin realizacji upływa: {{task.dateRealization | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">
                            <i class="fa fa-bell-o" aria-hidden="true"></i> {{task.dateRealization | amDateFormat: 'D MMMM YYYY H:mm '}}
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a ng-show="task.userExecuteTasksById.length>0" data-toggle="modal" role="button" title="Kliknij, by przejrzeć listę" data-target="#addUser-{{task.id}}">
                            <i title="{{task.executorsString}}" bs-tooltip><span class="badge">{{task.userExecuteTasksById.length}} wykonuje</span></i>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3" title="Bieżący status: {{task.state}}"> 
                        {{task.state}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2" title="Zadanie dodane przez: {{task.author.firstname + ' ' + task.author.surname}}">
                        <b>{{task.author.firstname + " " + task.author.surname}}</b>
                    </div>
                    
                    <div class="textToRight col-xs-3 col-sm-3 col-md-1 task-buttons no-collapsable">
                        <!--<button class="btn btn-warning btn-xs pull-right" data-toggle="modal" data-target="#editProblemModal" title="Edytuj zadanie"><i class="fa fa-pencil" aria-hidden="true"></i></button>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 task-content">
                        {{task.content}}
                    </div>
                </div>
                <div class="modal fade" id="addUser-{{task.id}}" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Wykonawcy zadania #{{task.id}}</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Imię i nazwisko laboranta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="executor in task.userExecuteTasksById">
                                            <td>{{ executor.firstname }} {{ executor.surname }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="textToRight">Łącznie: {{task.userExecuteTasksById.length | executorsIntToString}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row infoMessage">
                {{ message }}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-backdrop="static" data-keyboard="true" id="addTask" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" ng-controller="addTaskFormController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj zadanie</h4>
            </div>
            <form name="addTaskForm" ng-submit="processForm()">
                <div class="modal-body"> 
                    <div ng-show="IsResponseError">
                        <div class="alert alert-danger"><strong>Błąd przy dodawaniu zadania:</strong>
                            {{ResponseErrorMessage}}
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addTaskForm.dateRealization.$invalid}">
                        <label for="dateRealization" class="control-label">Termin realizacji:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                            <input type='datetime-local' name='dateRealization' ng-model="task.dateRealization" class="form-control" id='datetimepicker4' min="{{minDate}}" required />
                        </div>
                        <div ng-show="addTaskForm.dateRealization.$invalid && addTaskForm.dateRealization.$touched" class="help-block with-errors">
                            Termin musi być poprawną datą i dotyczyć przyszłości
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addTaskForm.priority.$invalid}">
                        <label for="priority" class="control-label">Priorytet zadania:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></span>
                            <select class="form-control" name="priority" ng-model="task.priority" required>
                                <option ng-repeat="n in [] | range:5" value="{{n+1}}">{{n+1}} - {{n+1 | priortyDescription}}</option>
                            </select>
                        </div>
                        <div ng-show="addTaskForm.priority.$invalid && addTaskForm.priority.$touched" class="help-block with-errors">
                            Uzupełnij pole
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addTaskForm.status.$invalid}">
                        <label for="status" class="control-label">Status zadania:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <select class="form-control" name="idState" ng-model="task.status" required>
                                <option ng-repeat="status in statesData" value="{{status.id}}">{{status.name}}</option>
                            </select>
                        </div>
                        <div ng-show="addTaskForm.status.$invalid && addTaskForm.status.$touched" class="help-block with-errors">
                            Uzupełnij pole
                        </div>
                    </div>

                    <!-- IF REQUIRED <div class="form-group" ng-class="(task.userExecuteTasksById == null || task.userExecuteTasksById.length==0) ? 'has-error': 'has-error2'">
                        + required attr -->
                    <div class="form-group">
                        <label for="executorsList" class="control-label">Osoby odpowiedzialne za realizację:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                            <multiselect class="form-control" name="userExecuteTasksById" id="selected" ng-model="task.userExecuteTasksById" options="options" search-filter="searchFilter" show-search="true" id-prop="id" display-prop="name">
                            </multiselect>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addTaskForm.content.$invalid}">
                        <label for="content" class="control-label">Opis zadania:</label>
                        <div class="input-group" style="z-index:0">
                            <span class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <textarea class="form-control" name="content" ng-model="task.content" ng-minlength="10" ng-maxlength="2000" required>
                            </textarea>
                        </div>
                        <div ng-show="addTaskForm.content.$invalid && addTaskForm.content.$touched" class="help-block with-errors">
                            Treść zadania musi wynosić przynajmniej 10 znaków i być krótsza niż 2000 znaków. 
                        </div>
                    </div>

                    
                    <pre>
                        {{ task | json}}
                    </pre>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-success" ng-disabled="addTaskForm.$invalid">Dodaj</button>
                </div>
            </form>
        </div>   
    </div>
</div>
<script>
        $('[data-toggle="tooltip"]').tooltip();   
</script>