<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/multiselect.js"></script>
<link href="css/multi-select.css" rel="stylesheet">


<div ng-controller="problem">
    <a ui-sref="last-problems">Powrót</a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Problem #{{problemid}}
                <button class="btn btn-warning btn-xs pull-right" title="Edytuj problem">Edytuj</button>
            </h3>
        </div>
        <div ng-hide="problemDataLoaded" class="preloader">
        </div>
        <div class="panel-body">
            <div class="row" ng-repeat="x in problemData">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-4 textToRight">Lokalizacja: </div>
                        <div class="col-xs-8">{{x.computer}} {{x.laboratory}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 textToRight">Zgłaszający: </div>
                        <div class="col-xs-8">{{x.author.name}} {{x.author.surname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 textToRight">Data zgłoszenia: </div>
                        <div class="col-xs-8 ba"><time class="badge" title="{{ x.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">{{x.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm '}}</time></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 textToRight">Opis problemu: </div>
                        <div class="col-xs-8">{{x.content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="task-list" class="panel panel-default">
        <div class="panel-heading"><h4>Zadania<button class="btn btn-success btn-sm pull-right" title="Nowe zadanie" data-toggle="modal" data-target="#addTask"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowe zadanie</button></h4></div>

        <div class="task">
            <div data-toggle="collapse" role="button">
                <div class="panel-body" ng-repeat="task in taskData">
                    <div class="row">
                        <div class="col-xs-1 cols-sm-1 col-md-1">
                            <span class="label {{task.priority | labelPriority}}" title="Priorytet zadania: {{task.priority}}">{{task.priority}}</span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{task.dateNotification | amDateFormat: 'D MMMM YYYY H:mm '}}<br>
                            <i class="fa fa-bell-o" aria-hidden="true"></i> {{task.dateRealization | amDateFormat: 'D MMMM YYYY H:mm '}}
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <a data-toggle="modal" data-target="#addUser-{{task.id}}">
                                <span class="badge">{{task.executors.length}} wykonuje</span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3"> 
                            {{task.state}}
                        </div>
                        <div class="textToRight col-xs-4 col-sm-4 col-md-2">
                            {{task.autor}}
                        </div>
                        
                        <div class="textToRight col-xs-3 col-sm-3 col-md-1 task-buttons no-collapsable">
                            <button class="btn btn-warning btn-xs pull-right" data-toggle="modal" data-target="#editProblemModal" title="Edytuj zadanie"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 task-content">
                            {{task.content}}
                        </div>
                    </div>
                    <div class="modal fade" id="addUser-{{task.id}}" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Wykonawcy zadania #{{task.id}}</h4>
                                </div>
                                <div ng-repeat="executor in task.executors">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="true" id="addTask" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" ng-controller="addTaskFormController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj zadanie</h4>
            </div>
            <form name="addTaskForm" ng-submit="processForm()">
                <div class="modal-body">  

                    <div class="form-group" ng-class="{'has-error': addTaskForm.name.$invalid && addTaskForm.name.$touched}">
                        <label for="dateRealization" class="control-label">Termin realizacji:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                            <input type='text' name='dateRealization' class="form-control" id='datetimepicker4' placeholder="YYYY-MM-DD HH:mm:ss" />
                        </div>
                        <div ng-show="addTaskForm.name.$invalid && addTaskForm.name.$touched" class="help-block with-errors">
                            Podaj poprawną nazwę laboratorium od 2 do 10 znaków
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addLabForm.building.$invalid && addLabForm.building.$touched}">
                        <label for="dateRealization" class="control-label">Priorytet:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            <select class="form-control" name="building" ng-model="lab.building" required>
                                <option value="MS">Wydział Matematyki Stosowanej</option>
                                <option value="LB">Laboratorium Budownictwa</option>
                            </select>
                        </div>
                        <div ng-show="addLabForm.building.$invalid && addLabForm.building.$touched" class="help-block with-errors">Uzupełnij pole</div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addLabForm.owner.$invalid && addLabForm.owner.$touched}">
                        <label for="owner" class="control-label">Osoba odpowiedzialna</label>
                        <div class="input-group" ng-controller="usersList">
                            <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                            <select class="form-control" name="owner" ng-model="lab.owner" required> 
                                <option ng-repeat="x in myData" value="{{x.id}}">{{x.firstname}} {{x.surname}}</option>
                            </select>
                        </div>
                        <div ng-show="addLabForm.owner.$invalid && addLabForm.owner.$touched" class="help-block with-errors">Uzupełnij pole</div>
                    </div>

                    <div ng-controller="assistantList">
                        <select id='pre-selected-options' multiple='multiple'>
                            <option ng-repeat="assistant in assistantsData" value="{{assistant.name}}">1 {{assistant.name}}</option>
                        </select>
                    </div>
  <!-- ends -->
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script src="js/multiselect.js"></script>
  <script type="text/javascript">
  // run pre selected options

  </script>
                <button id="test">Test</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-success" ng-disabled="addLabForm.$invalid">Dodaj</button>
                </div>

                <pre>
                    {{ lab | json}}
                </pre>
            </form>
        </div>   
    </div>
</div>