<!doctype html>
<html>
<head>
  <title>Angular Forms</title>

  <!-- LOAD BOOTSTRAP CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

  <!-- LOAD JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- PROCESS FORM WITH AJAX (NEW) -->
  <script>
    // define angular module/app
    var formApp = angular.module('formApp', []);
    // create angular controller and pass in $scope and $http
    formApp.controller('formController', function formController($scope, $http) {
      // create a blank object to hold our form information
      // $scope will allow this to pass between controller and view
      $scope.formData = {};
      // process the form

      $scope.processForm = function() {
        $http({
              method  : 'POST',
              url     : 'http://serwis365.pl/api/getFreeTime.php',
              data    : $.param($scope.formData),  // pass in data as strings
              headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
          })
              .success(function(data) {
                  console.log(data);
                  if (!data.success) {
                    // if not successful, bind errors to error variables
                      //$scope.errorName = data.errors.name;  ///// data (errors) is undefined. 
                      $scope.errorSuperhero = "x";
                  } else {
                    // if successful, bind success message to message
                      $scope.message = data.message;
                                        $scope.errorName = '';
                      $scope.errorSuperhero = '';
                  }
              });
        };

    });
  </script>
        <style>
            .ng-valid.ng-dirty{
              border-color: #3c763d;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            }
            .ng-invalid.ng-dirty{
              border-color: #a94442;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            }
        </style>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body ng-app="formApp" ng-controller="formController">
<div class="container">
<div class="col-md-6 col-md-offset-3">


  <!-- SHOW ERROR/SUCCESS MESSAGES -->
  <div id="messages" class="well" ng-show="message">{{ message }}</div>

  <!-- FORM -->
  <form name="userForm" ng-submit="processForm()">
    <!-- NAME -->
    <div class="form-group" ng-class="{ 'has-error' : errorName }">
      <label>Name</label>
      <input type="text" name="name" class="form-control" placeholder="Bruce Wayne" ng-model="user.name" ng-minlength="3" ng-pattern="/^[0-9]{1,7}$/">
      <p ng-show="userForm.name.$error.minlength" class="help-block">Username is too short.</p>
      <p ng-show="userForm.name.$error.pattern" class="help-block">Pattern doesn't match.</p>
      <span class="help-block" ng-show="errorName">{{ errorName }}</span>
    </div>

    <!-- USERNAME -->
<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
    <label>Username</label>
    <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
    <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
    <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
</div>

    <!-- SUPERHERO NAME -->
    <div id="superhero-group" class="form-group" ng-class="{ 'has-error' : errorSuperhero }">
      <label>Superhero Alias</label>
      <input type="text" name="superheroAlias" class="form-control" placeholder="Caped Crusader" ng-model="formData.superheroAlias" required="required">
      <span class="help-block" ng-show="errorSuperhero">{{ errorSuperhero }}</span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="userForm.$invalid">
      <span class="glyphicon glyphicon-flash"></span> Submit!
    </button>
  </form>

  <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
  <pre>
    {{ formData }}
  </pre>

</div>
</div>
</body>
</html>