<div class="row pagination-container">
    <div class="col-xs-12 col-sm-9">
        <br>
        <ul class="pagination">

            <li ng-class="(currentPage==0) ? 'disabled' : ''">
                <a href="#" ng-click="(currentPage==pages.length-1) ? null : loadData(0)">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
            </li>

            <li ng-class="currentPage==0 ? 'disabled' : ''">
                <a href="#" ng-click="(currentPage>0) ? loadData(currentPage - 1) : ''">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>

            <li ng-repeat="x in pages | limitTo:3:((currentPage==0)? currentPage : currentPage-1)" ng-class="x==currentPage ? 'active' : ''">
                <a href="#" ng-click="loadData(x)">{{x+1}}</a>
            </li>

            <li ng-class="(currentPage==pages.length-1) ? 'disabled' : ''">
                <a href="#" ng-click="(currentPage==pages.length-1) ? null : loadData(currentPage + 1)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>

            <li ng-class="(currentPage==pages.length-1) ? 'disabled' : ''">
                <a href="#" ng-click="(currentPage==pages.length-1) ? null : loadData(pages.length-1)">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-3 form-group paginationPageSize">
        Wyników na stronę:
        <select class="form-control" ng-model="pageSize" ng-change="loadData(0)" ng-options="v for v in [5,10,25,50,100]">
        </select>
    </div>
</div>