<div ng-controller="ProblemCtrl" ng-init="getProblem()">
    <div class="panel panel-default" ng-repeat="x in problemData">
        <div class="panel-heading">
                <h3 class="problem-title">
                    Problem #{{problemid}}
                <!--<button class="btn btn-warning btn-xs pull-right" title="Edytuj problem">Edytuj</button>-->        
                </h3>
                <div class="pull-right problemStatusInfo">
                    <div><small>Rozwiązany?</small></div>
                    <label class="switch">
                    <input type="checkbox" ng-model="x.isResolved" ng-change="editEntity(x.problemid)">
                    <span class="slider"></span>
                </label>
                    </div>
        </div>

        <div ng-hide="problemDataLoaded || errorDataLoaded!=''" class="preloader">
        </div>

        <div ng-bind-html="errorDataLoaded" class="margin-top padding-5"></div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 textToRight">Lokalizacja: </div>
                        <div class="col-xs-6 col-sm-6">
                            <a ui-sref="Komputer({id: '{{x.computer.id}}'})">{{x.computer.name}}</a>
                            <a ui-sref="laboratory({id: '{{x.laboratory.id}}'})"> {{x.laboratory.building}}{{x.laboratory.roomNo}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 textToRight">Zgłaszający: </div>
                        <div class="col-xs-6 col-sm-6">{{x.author.firstname}} {{x.author.surname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 textToRight">Data zgłoszenia: </div>
                        <div class="col-xs-6 col-sm-6 ba"><time class="badge" title="{{ x.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">{{x.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm '}}</time></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 textToRight">Opis problemu: </div>
                        <div class="col-xs-6 col-sm-6">{{x.content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="task-list" ng-controller="TaskCtrl" ng-show="problemDataLoaded" ng-init="getList(0, problemId)" class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Zadania
                <button class="btn btn-success btn-sm pull-right" title="Nowe zadanie" ng-click="addNewTask()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowe zadanie
                </button>
            </h4>
        </div>

        <div class="task">
            <div class="panel-body panel-task" ng-repeat="task in taskData">
                <div class="row">
                    <div class="col-xs-1 cols-sm-1 col-md-1">
                        <span class="label {{task.priority | labelPriority}}" title="Priorytet zadania: {{task.priority}}">{{task.priority}}</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                        <div title="Zadanie dodano: {{task.dateNotification | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{task.dateNotification | amDateFormat: 'D MMMM YYYY H:mm '}}
                        </div>
                        <div title="Termin realizacji upływa: {{task.dateRealization | amDateFormat: 'dddd, D MMMM YYYY H:mm' }}">
                            <i class="fa fa-bell-o" aria-hidden="true"></i> {{task.dateRealization | amDateFormat: 'D MMMM YYYY H:mm '}}
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2">
                        <a ng-show="task.userExecuteTasksById.length>0" data-toggle="modal" role="button" title="Kliknij, by przejrzeć listę" data-target="#addUser-{{task.id}}">
                            <i title="{{task.executorsString}}" bs-tooltip><span class="badge">{{task.userExecuteTasksById.length}} wykonuje</span></i>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3" title="Bieżący status: {{task.state}}"> 
                        <i class="fa fa-flag"></i> {{task.state}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-2" title="Zadanie dodane przez: {{task.author.firstname + ' ' + task.author.surname}}">
                        <b><i class="fa fa-user-plus"></i> {{task.author.firstname + " " + task.author.surname}}</b>
                    </div>
                    
                    <div class="textToRight col-xs-3 col-sm-3 col-md-1 task-buttons no-collapsable">
                        <button class="btn btn-warning btn-xs pull-right" data-toggle="modal" data-target="#editProblemModal" title="Edytuj zadanie" ng-click="editTask(task.id)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 task-content">
                        {{task.content}}
                    </div>
                </div>
                <div class="modal fade" id="addUser-{{task.id}}" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Wykonawcy zadania #{{task.id}}</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Imię i nazwisko laboranta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="executor in task.userExecuteTasksById">
                                            <td>{{ executor.firstname }} {{ executor.surname }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="textToRight">Łącznie: {{task.userExecuteTasksById.length | executorsIntToString}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pagination-container" ng-show="tasksCount > 0">
                <div class="col-xs-12 col-sm-9">
                    <br>
                    <ul class="pagination">
                        <li ng-class="currentPage==0 ? 'disabled' : ''">
                            <a href="#" ng-click="getList(currentPage - 1)">«</a>
                        </li>
                        <li ng-repeat="x in pages" ng-class="x==currentPage ? 'active' : 'active2'">
                            <a href="#" ng-click="getList(x)">{{x+1}}</a>
                        </li>
                        <li ng-class="(currentPage==pages.length-1) ? 'disabled' : ''">
                            <a href="#" ng-click="(currentPage==pages.length-1) ? null : getList(currentPage + 1)">»</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 form-group paginationPageSize">
                    Wyników na stronę:<br>
                    <select class="form-control" ng-model="pageSize" ng-change="loadTasks(0)" ng-options="v for v in [5,10,25,50,100]">
                    </select>
                </div>
            </div>
            <div class="row infoMessage">
                {{ message }}
            </div>
        </div>
    </div>
</div>

<script>
        $('[data-toggle="tooltip"]').tooltip();   
</script>