<div class="container" ng-controller="LoginCtrl">
    <div class="login-container">

        <div class="login-iconContainer">
            <i class="fa fa-user-circle-o login-icon" aria-hidden="true"></i>
            <p class="login-appname"> eLaborant</p>
        </div>
        

        <form class="form-signin form-group" ng-submit="formSubmit()">
            <span id="reauth-email" class="reauth-email">{{ error }}</span>
            <input type="text" id="inputLogin" ng-model="username" class="form-control" placeholder="Login" required autofocus>
            <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Hasło" required>

            <button class="btn btn-success form-control btn-login" type="submit">Zaloguj</button>
        </form>

    </div>
</div>
<style>
    body{
        background-color: #222;
    }
</style>